.main{
	width: 100%;
	position: relative;
}
.title{
	background: #FFF;
	width: 960px;
	margin: 0 auto;
}
.logo{
	float: left;
	margin-left: 40px;
}
.logo img{
	line-height: 75px;
	margin-top: 13.5px;
}
.nav{
	float: right;
}
.nav .navs{
	float: left;
}
.nav .loginbtn,.nav .userinfo{
	float: left;
}
.nav .userinfo{
	position: relative;
}
.nav .userinfo .wximg{
	position: absolute;
	left: 70px;
	display: none;
	z-index: 100;
}
.nav .userinfo .me{
	position: absolute;
	top: 35px;
	left: 35px;
	border:1px solid #BFBFBF;
	background: #FFFFFF;
	z-index: 100;
}
.nav .userinfo .me li a{
	width: 68px;
	height: 30px;
	display: inline-block;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	color: #5C5C5C;
}
.nav .navs li{
	float: left;
	padding: 0 10px;
}
.navssle{
	background: #f58220;
}
.navsasle{
	color: #FFFFFF !important;
}
.nav .navs li a{
	font-size: 24px;
	line-height: 75px;
	font-family: "Microsoft JhengHei";
	text-align: center;
	padding: 0 15px;
	color: #f58220;
	/*font-weight: 300;*/
}
.nav .loginbtn,.nav .userinfo{
	border-left: 1px solid #f58220;
	margin-top: 27px;
	margin-left: 50px;
	margin-right: 70px;
}
.nav .userinfo{
	margin-top: 23px;
}
.nav .loginbtn a,.nav .userinfo a{
	line-height: 21px;
	font-size: 21px;
	color: #f58220;
	padding: 0 10px;
	font-weight: 300;
}
.nav .userinfo a{
	vertical-align: bottom;
	display: inline-block;
	height: 29px;
}
.nav .userinfo .wx{
	vertical-align: middle;
	margin-top: 5px;
	display: inline-block;
	
}
.slider{
	position: relative;
	width: 100%;
}
.search{
	position: absolute;
	top: 422px;
	width: 100%;
	text-align: center;
}
.search .txt{
	width: 357px;
	border: none;
	outline: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #FFFFFF;
	font-size: 17px;
	font-family: "微软雅黑";
	line-height: 29px;
	text-indent: 10px;
	height: 29px;
	vertical-align: top;
}
.search .btn{
	width: 61px;
	height: 29px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #f58220;
	color: #FFFFFF;
	font-size: 17px;
	font-family: "微软雅黑";
	line-height: 29px;
	text-align: center;
	border: none;
	outline: none;
	letter-spacing: 3px;
	cursor: pointer;
	vertical-align: top;
}
.search .searimg{
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
}
.slider .title{
	position: absolute;
	width: 100%;
	text-align: right;
	top: 86px;
	background: transparent;
	display: none;
}
.slider .title img{
	vertical-align: middle;
}
.slider .title .txt{
	font-size: 24px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	vertical-align: middle;
	margin: 0 90px 0 15px;
}
/****slider*******/
#focus{width:100%;height:500px;overflow:hidden;position:relative;}
#focus ul{height:500px;position:absolute;}
#focus ul li{float:left;width:100%;height:500px;overflow:hidden;position:relative;background:#000;}
#focus ul li div{position:absolute;overflow:hidden;}
#focus .btn{position:absolute;width:100%;height:10px;padding:5px 10px;bottom:100px;text-align:center;}
#focus .btn span{display:inline-block;_display:inline;_zoom:1;width:15px;height:15px;_font-size:0;margin-left:10px;cursor:pointer;background:#fff;border-radius: 50%;}
#focus .btn span.on{background:#fff;}
#focus .preNext{width:77px;height:77px;position:absolute;top:190px;cursor:pointer;}
#focus .pre{left:200px;background: url(../images/arrow_l.png) no-repeat;}
#focus .next{right:200px;background: url(../images/arrow_r.png) no-repeat;}
/*****************/
.content{
	width: 100%;
	margin: 0 auto;
	background: #FFFFFF;
	margin-top: 72px;
	padding-bottom: 165px;
}
.content .service{
	width: 960px;
	margin: 0 auto;
}
.content .service .head{
	text-align: center;
}
.content .service .cont{
	margin-top: 80px;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #F58220;
	line-height: 30px;
}
.content .service .cont li{
	float: left;
	width: 320px;
	margin-bottom: 20px;
}
.content .service .cont li h2{
	text-align: center;
}
.content .service .cont li h2 img{
	transition: 1.5s;
	-webkit-transition: 1.5s;
	-o-transition: 1.5s;
	-moz-transition: 1.5s;
	-ms-transition: 1.5s;
	transition-property: transform:scale;
	-webkit-transition-property: transform:scale;
	-moz-transition-property: transform:scale;
	-ms-transition-property: transform:scale;
	-o-transition-property: transform:scale;
}
.content .service .cont li h2 img:hover{
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
}
.content .service .cont li h3{
	text-align: center;
	margin-top: 30px;
}
.content .service .cont li h4{
	padding-left: 47.5px;
	padding-right: 47.5px;
}
.content .sale{
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
}
.content .sale .head{
	margin-top: 50px;
}
.content .sale .cont{
	margin-top: 30px;
	font-size: 21px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	line-height: 33px;
}
.content .sale .cont .row .img{
	float: left;
	height: 191px;
	margin-bottom: 5px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.content .sale .cont .row .img img{
	width: 304px;
	height: 191px;
	transition: 1.5s;
	-webkit-transition: 1.5s;
	-o-transition: 1.5s;
	-moz-transition: 1.5s;
	-ms-transition: 1.5s;
	transition-property: transform:scale;
	-webkit-transition-property: transform:scale;
	-moz-transition-property: transform:scale;
	-ms-transition-property: transform:scale;
	-o-transition-property: transform:scale;
}
.content .sale .cont .row .img img:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.content .sale .cont .row .img .limg{
	width: 612px;
	height: 191px;
}
.content .sale .cont .row .img .info{
	position: absolute;
	width: 100%;
	background: rgba(75,75,75,0.7);
	bottom: 0;
	color: #FFFFFF;
}
.content .sale .cont .row .img .info .name{
	float: left;
	margin-left: 10px;
}
.content .sale .cont .row .img .info .price{
	float: right;
	margin-right: 10px;
}
.content .sale .cont .inhref{
	display: inline-block;
}
.content .more{
	text-align: center;
	margin-top: 48px;
}
.content .more a{
	display: inline-block;
	width: 167px;
	height: 51px;
	line-height: 51px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 24px;
	background: #f39636;
	border-radius: 10px;
}
.content .mimg{
	width: 100%;
	margin-top: 70px;
	position: relative;
}
.content .mimg #mask{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.logincon{
	width: 100%;
	background: rgba(40,40,40,0.6);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}
.logincon .login{
	width: 384px;
	height: 438px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #FFFFFF;
	z-index: 999;
}
.logincon .login .content{
	width: 244px;
	margin: 0 auto;
	padding: 0;
	background: #FFFFFF;
}
.logincon .login .content .title{
	width: 100%;
	border-bottom: 1px solid #676360;
	position: relative;
}
.logincon .login .content .title .left{
	float: left;
	font-family: "微软雅黑";
	font-size: 14.6px;
	color: #6e6e6e;
	height: 30px;
	padding-top: 32px;
	padding-left: 12px;
}
.logincon .login .content .title .right{
	float: right;
	font-family: "微软雅黑";
	font-size: 10.5px;
	color: #6e6e6e;
	/*padding-top: 46px;*/
	padding-right: 5px;
	width: auto;
	height: auto;
	margin-left: 0;
}
.logincon .login .content .title .right a{
	color: #abc2e8;
}
.logincon .login .content .title .close{
	position: absolute;
	right: -55px;
	top: 12px;
	cursor: pointer;
}
.logincon .login .content .main{
	margin-top: 20px;
}
.logincon .login .content .main ul li .con{
	width: 242px;
	border:1px solid #c4c4c4;
	padding-top: 4px;
	height: 21px;
	position: relative;
}
.logincon .login .content .main ul li .con span{
	float: left;
	width: 55px;
	height: 18px;
	font-family: "微软雅黑";
	font-size: 13.9px;
	line-height: 18px;
	text-align: center;
	border-right: 1px solid #c4c4c4;
	color: #6E6E6E;
}
.logincon .login .content .main ul li{
	margin-bottom: 33px;
}
.logincon .login .content .main ul li .con input{
	float: right;
	width: 186px;
	height: 18px;
	border:none;
	outline: none;
	text-indent: 5px;
	font-size: 12px;
}
.logincon .login .content .main ul li .yzt{
	width: 71px;
	height: 28px;
}
.logincon .login .content .main ul li .yzt img{
	width: 71px;
	height: 28px;
}
.logincon .login .content .main ul li .yzt a{
	color: #ABC2E8;
	font-size: 10px;
	margin-left: 20px;
}
.logincon .login .content .main ul li .con .yanzheng{
	width: 84px;
	float: left;
}
.logincon .login .content .main ul li .con .board{
	position: absolute;
	width: 242px;
	height: 26px;
	background: #FFFFFF;
	padding-top: 7px;
	padding-left: 7px;
	top: 26px;
	color: #ff6868;
	font-size: 10.5px;
	margin-top: 0;
}
.logincon .login .content .main ul li .con .board span{
	border: none;
	text-align: left;
	width: 29px;
}
.logincon .login .content .main ul li .sub{
	display: inline-block;
	width: 100%;
	height: 33px;
	background: #F39636;
	border: none;
	color: #FFFFFF;
	border-radius: 5px;
}
.logincon .login .content .main ul li .check{
	float: left;
	font-size: 14.6px;
	color: #F39636;
}
.logincon .login .content .main ul li .forget{
	float: right;
	font-size: 14.6px;
}
.logincon .login .content .main ul li .forget a{
	color: #6E6E6E;
}
.footer{
	height: 140px;
	background: #5C5C5C;
	overflow: hidden;
}
.footer .lin{
	width: 352px;
	margin: 0 auto;
	margin-top: 35px;
}
.footer .lin li{
	padding: 0 10px;
	border-right: 2px solid #a8a8a8;
	float: left;
}
.footer .lin li a{
	color: #A8A8A8;
	font-size: 24px;
	font-family: "微软雅黑";
	line-height: 19px;
}
.footer .copy{
	font-size: 18px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	text-align: center;
	margin-top: 40px;
}
.details_content{
	background: #F4F4F4;
}
.details_content .content{
	width: 920px;
	background: #F4F4F4;
	margin: 0 auto;
	padding-top: 80px;
}
.details_content .content .right{
	float: left;
	margin-left: 7px;
	width: 391px;
	height: 394px;
	background: #FFFFFF;
}
.details_content .content .right .title{
	width: 100%;
	border-bottom: 1px dashed #A6A6A6;
	overflow: hidden;
}
.details_content .content .right .title .name{
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 19px;
	text-indent: 8px;
	margin-left: 17px;
	margin-top: 17px;
}
.details_content .content .right .title .inf{
	margin-left: 17px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.details_content .content .right .title .inf span{
	color: #bfbfbf;
	padding: 0 8px;
}
.details_content .content .right .price{
	width: 100%;
	border-bottom: 1px dashed #A6A6A6;
	overflow: hidden;
}
.details_content .content .right .price .prices{
	float: left;
	margin-left: 25px;
	margin-top: 20px;
	margin-bottom: 25px;
}
.details_content .content .right .price .prices span{
	color: #F39636;
	font-size: 24px;
	font-family: arial;
	font-weight: bolder;
}
.details_content .content .right .price .buy{
	float: right;
}
.details_content .content .right .price .buy a{
	width: 67px;
	height: 23px;
	display: inline-block;
	color: #FFFFFF;
	text-align: center;
	line-height: 23px;
	border-radius: 5px;
	background: #F49F47;
	font-size: 13px;
	margin-top: 25px;
	margin-right: 18px;
}
.details_content .content .right .info{
	width: 100%;
	border-bottom: 1px dashed #A6A6A6;
	overflow: hidden;
	height: 239px;
}
.details_content .content .right .info ul{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 15px;
	font-family: "微软雅黑";
	color: #A2A2A2;
}
.details_content .content .right .info li{
	margin-bottom: 12px;
}
.details_content .content .right .info li span{
	margin-right: 20px;
}
#tel{
	font-size: 26px;
	font-family: arial;
	color: #F39636;
}
#address{
	display: inline-block;
	width: 240px;
	vertical-align: top;
	height: 43px;
	overflow: hidden;
}
.details_content .infomation,.details_content .map,.details_content .comment,.details_content .dynamic{
	width: 918px;
	border:1px solid #D6D6D6;
	margin-top: 16px;
	background: #FFFFFF;
	overflow: hidden;
}
.details_content .infomation .title,.details_content .map .title,.details_content .comment .title,.details_content .dynamic .title{
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 15.4px;
	margin-top: 20px;
}
.details_content .infomation .title img,.details_content .map .title img,.details_content .comment .title img,.details_content .dynamic .title img{
	vertical-align: middle;
	margin-right: 14px;
	margin-bottom: 3px;
	margin-left: 15px;
}
.details_content .infomation ul li{
	margin-top: 25px;
}
.details_content .infomation ul li span{
	display: inline-block;
	margin-left: 45px;
	width: 250px;
	color: #7a7a7a;
	font-size: 16px;
	font-family: "微软雅黑";
}
.details_content .infomation .developers .kfc{
	float: left;
	color: #7a7a7a;
	font-size: 16px;
	font-family: "微软雅黑";
	margin-left: 45px;
}
.details_content .infomation .developers .tg{
	float: right;
	width: 152px;
	height: 43px;
	background: #F39636;
	color: #FFFFFF;
	text-align: center;
	line-height: 43px;
	font-family: "微软雅黑";
	font-size: 24px;
	border-radius: 5px;
	cursor: pointer;
}
.details_content .infomation .developers .sc{
	float: right;
	width: 40px;
	text-align: center;
	font-size: 13px;
	color: #F39636;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 70px;
	margin-left: 50px;
}
.details_content .infomation ul li span var{
	padding: 0 20px;
}
.details_content .infomation .developers{
	margin-top: 60px;
	margin-bottom: 48px;
}
#allmap{
	margin-top: 20px;
	width: 918px;
	height: 402px;
}
.details_content .comm_sub{
	width: 877px;
	margin: 5px auto;
	border-top: 2px solid #cfcece;
	font-size: 13px;
	font-family: "微软雅黑";
	color: #959595;
	
}
.details_content .comm_sub textarea{
	width: 874px;
	height: 97px;
	resize: none;
	margin-left: 1px;
	margin-top: 13px;
	margin-bottom: 8px;
}
.details_content .comm_sub input{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: bottom;
	margin-right: 7px;
}
.details_content .comm_sub span{
	margin-left: 22px;
}
.details_content .comm_sub span a{
	color: #5f99cb;
}
.details_content .comment .commentnum,.details_content .dynamic .dynamicnum{
	margin-top: 18px;
	font-size: 19.6px;
	font-family: "微软雅黑";
	color: #959595;
	margin-left: 20.5px;
}
.details_content .comment .commenttxt,.details_content .dynamic .dynamictxt{
	margin-top: 34px;
	margin-bottom: 34px;
	border-top: 2px dashed #E0E0E0;
	border-bottom: 2px dashed #E0E0E0;
	text-align: center;
	color: #7F7F7F;
	font-size: 13px;
	padding: 35px 0;
}
.details_content .comment .commenttxt{
	border-bottom: none;
	padding: 0;
}
.details_content .comment .commenttxt ul li{
	border-bottom: 2px dashed #E0E0E0;
	padding: 15px 0;
}
.details_content .comment .commenttxt .uctxt .l{
	float: left;
	margin-left: 35px;
}
.details_content .comment .commenttxt .uctxt .l img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.details_content .comment .commenttxt .uctxt .r{
	float: left;
	text-align: left;
	margin-left: 22px;
}
.details_content .comment .commenttxt .uctxt .r p{
	font-size: 14.6px;
	font-family: "微软雅黑";
	color: #6f6f6f;
	line-height: 25px;
}
.details_content .comment .commenttxt .uctxt .r p a{
	color: #3a87c3;
}
.details_content .comment .commenttxt .uctxt .r p span{
	margin-left: 15px;
}
.details_content .dynamic .dynamictxt{
	border-bottom: none;
	padding: 0;
}
.details_content .dynamic .dynamictxt ul li{
	border-bottom: 2px dashed #E0E0E0;
	padding: 15px 45px;
}
.details_content .dynamic .dynamictxt .dttxt h2{
	font-size: 20px;
	font-family: "微软雅黑";
	color: #606060;
	text-align: left;
	line-height: 50px;
}
.details_content .dynamic .dynamictxt .dttxt h2 span{
	margin-left: 50px;
	font-size: 14.6px;
	font-family: "微软雅黑";
	color: #606060;
}
.details_content .dynamic .dynamictxt .dttxt p{
	text-align: left;
}
.details_content .dynamic .dynamictxt .dttxt p a{
	text-decoration: underline;
	font-size: 14.6px;
	font-family: "微软雅黑";
	color: #6F6F6F;
}
.details_content .dynamic .dynamictxt .dttxt .btns{
	text-align: right;
}
.details_content .dynamic .dynamictxt .dttxt p .btn{
	color: #3A87C3;
}
.details_content .content .left{
	width: 522px;
	height: 394px;
	float: left;
}
/****slider2*******/
#focus2{width:522px;height:394px;overflow:hidden;position:relative;}
#focus2 ul{height:394px;position:absolute;}
#focus2 ul li{float:left;width:522px;height:394px;overflow:hidden;position:relative;background:#000;}
#focus2 ul li div{position:absolute;overflow:hidden;}
#focus2 .btn{position:absolute;width:100%;height:50px;bottom:0px;text-align:left;background: rgba(30,30,30,0.8);padding-left: 18px;}
#focus2 .btn span{display:inline-block;_display:inline;_zoom:1;width:50px;height:20px;_font-size:0;cursor:pointer;color: #FFFFFF;border-right: 1px solid #94938b;font-size: 16px;line-height: 20px;margin-top: 15px;text-align: center;}
#focus2 .btn span a{color: #FFFFFF;}
#focus2 .btn span.on{background:#fff;}
#focus2 .preNext{width:77px;height:77px;position:absolute;top:158.5px;cursor:pointer;}
#focus2 .pre{left:33px;background: url(../images/arrow_l.png) no-repeat;}
#focus2 .next{right:33px;background: url(../images/arrow_r.png) no-repeat;}
/*****************/
.list{
	width: 920px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 100px;
}
.list_content{
	
	background: #F4F4F4;
}
.list_content .search{
	position: static;
	text-align: left;
	margin-top: 35px;
}
.list_content .search .txt{
	width: 357px;
	height: 29px;
	font-size: 17px;
}
.list_content .condition{
	margin-top: 23px;
	font-size: 16px;
	color: #404040;
	background: #FFFFFF;
	padding: 24px 50px;
}
.co
.list_content .condition dl{
	margin-bottom: 6px;
}
.list_content .condition dl dt{
	float: left;
	padding: 4px;
}
.list_content .condition dl dd{
	float: left;
	margin-left: 30px;
}
.list_content .condition dl dd ul li{
	float: left;
	padding: 4px;
	cursor: pointer;
}
.list_content .condition .slect{
	background: #F39636;
	color: #FFFFFF;
	border-radius: 5px;
}
.list_content .board{
	margin-top: 17px;
}
.list_content .board .contxt{
	float: left;
	width: 660px;
	position: relative;
}
.list_content .board .contxt .loading{
	display: none;
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 178px;
}
.list_content .board .contxt .entry{
	height: 205px;
	background: #FFFFFF;
	margin-bottom: 14px;
}
.list_content .board .contxt .entry .left{
	float: left;
	position: relative;
	height: 205px;
}
.list_content .board .contxt .entry .left a{
	display: inline-block;
	width: 270px;
	height: 205px;
}
.list_content .board .contxt .entry .left img{
	width: 270px;
	height: 205px;
}
.list_content .board .contxt .entry .left .mask{
	width: 100%;
	height: 28px;
	position: absolute;
	width: 100%;
	background: rgba(75,75,75,0.7);
	bottom: 0;
	color: #FFFFFF;
	line-height: 28px;
}
.list_content .board .contxt .entry .left .mask .enteyname{
	float: left;
	margin-left: 5px;
}
.list_content .board .contxt .entry .left .mask .enteysale{
	float: right;
	margin-right: 5px;
}
.list_content .board .contxt .entry .right{
	float: left;
	width: 335px;
	height: 165px;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #595959;
	padding: 15px 25px 25px 30px;
}
.list_content .board .contxt .entry .right .type,.list_content .board .contxt .entry .right .hot{
	margin-bottom: 10px;
}
.list_content .board .contxt .entry .right .price{
	text-align: right;
}
.list_content .board .contxt .entry .right .price span{
	font-size: 11px;
}
.list_content .board .contxt .entry .right .price span b{
	vertical-align: baseline;
}
#price{
	font-size: 24px;
	color: #F39636;
	font-family: arial;
	font-weight: bold;
}
.list_content .board .contxt .entry .right .hot .l{
	float: left;
}
.list_content .board .contxt .entry .right .hot .r{
	float: left;
}
.list_content .board .contxt .entry .right .hot .status{
	float: left;
}
.list_content .board .cle{
	height: 0;
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
}
.list_content .board .advert{
	float: left;
	width: 236px;
	margin-left: 24px;
	background: #FFFFFF;
}
.list_content .board .nav{
	float: none;
	margin-top: 150px;
}
.list_content .board .nav .navcon{
	width: 487px;
	margin: 0 auto;
}
.list_content .board .nav ul{
	background: #FFFFFF;
	border:1px solid #c5c5c5;
}
.list_content .board .nav ul li{
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 22.5px;
	font-family: "微软雅黑";
	color: #424242;
	padding-left: 17px;
	padding-right: 17px;
	cursor: pointer;
	border-right: 1px solid #C5C5C5;
}
.list_content .board .nav .nows{
	background: #F39636;
	color: #FFFFFF;
}
.list_content .board .advert .txt{
	width: 236px;
	height: 178px;
	position: relative;
	margin-bottom: 27px;
}
.list_content .board .advert .title{
	font-size: 16px;
	font-family: "微软雅黑";
	color: #222222;
	line-height: 44px;
	text-indent: 15px;
}
.list_content .board .advert .txt a{
	display: inline-block;
	width: 236px;
	height: 178px;
}
.list_content .board .advert .txt img{
	width: 236px;
	height: 178px;
}
.list_content .board .advert .txt .mask{
	position: absolute;
	bottom: 0;
	line-height: 25px;
	background: rgba(75,75,75,0.7);
	color: #FFFFFF;
	width: 100%;
	text-indent: 15px;
}
.registered{
	width: 1280px;
	margin: 0 auto;
}
.registered .content{
	width: 920px;
	margin: 0 auto;
	padding: 0;
}
.registered .content .logo{
	float: none;
	margin: 0;
	border-bottom: 1px solid #C4C4C4;
}
.registered .content .logo img{
	margin-bottom: 42px;
}
.registered .content .main{
	border:1px solid #C4C4C4;
	margin-bottom: 196px;
}
.registered .content .main .cont{
	width: 882px;
	margin: 0 auto;
}
.registered .content .main .cont .title{
	font-size: 24px;
	color: #5f5f5f;
	width: 100%;
	margin-top: 44px;
	border-bottom: 1px solid #C4C4C4;
	text-indent: 25px;
}
.registered .content .main .cont .title span{
	float: right;
	font-size: 14.6px;
	color: #000000;
	margin-top: 10px;
}
.registered .content .main .cont .title span a{
	color: #3b6dbf;
}
.registered .content .main .cont .con{
	margin-top: 20px;
	margin-left: 20px;
}
.registered .content .main .cont .con ul li{
	margin-bottom: 46px;
}
.registered .content .main .cont .con ul li .line{
	width: 589px;
	height: 50.5px;
	border:1px solid #8a8a8a;
	padding-top: 11.5px;
	position: relative;
}
.registered .content .main .cont .con ul li .line span{
	float: left;
	display: inline-block;
	height: 41px;
	width: 132px;
	border-right: 1px solid #8A8A8A;
	font-size: 24px;
	color: #6E6E6E;
	text-align: center;
	line-height: 41px;
}
.registered .content .main .cont .con ul li .line input{
	float: right;
	height: 41px;
	width: 450px;
	border: none;
	outline: none;
	font-size: 20px;
	text-align: left;
	text-indent: 10px;
}
.registered .content .main .cont .con ul li .line .board{
	position: absolute;
	top: 65px;
	height: 38px;
	padding-top: 9px;
	color: #FF6868;
}
.registered .content .main .cont .con ul li .line .board img{
	vertical-align: bottom;
}
.registered .content .main .cont .con ul li .getyzm{
	float: left;
	width: 215px;
	height: 62px;
	background: #d6d7d6;
	border:1px solid #c3c4c3;
	text-align: center;
	line-height: 62px;
	cursor: pointer;
	margin-left: 16px;
}
.registered .content .main .cont .con ul li p{
	font-size: 14.6px;
	margin-left: 5px;
	text-align: left;
}
.registered .content .main .cont .con ul li p input{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.registered .content .main .cont .con ul li p a{
	color: #3B6DBF;
}
.registered .content .main .cont .con ul li .sub{
	width: 136px;
	height: 45px;
	border: none;
	background: #F39636;
	border-radius: 5px;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}
.usercontent{
	background: #F4F4F4;
}
.usermain{
	width: 920px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 500px;
}
.usermain .search{
	position: static;
	text-align: right;
	margin-top: 55px;
}
.usermain .search .txt{
	width: 357px;
	height: 29px;
	font-size: 17px;
}
.usermain .left{
	float: left;
	width: 310px;
	height: 241px;
	border:1px solid #CDCDCD;
	background: #FFFFFF;
}
.usermain .conten{
	margin-top: 18px;
}
.usermain .left .title{
	width: 287px;
	padding-top: 15px;
	padding-left: 15px;
}
.usermain .left .title .himg{
	border-radius: 5px;
	float: left;
	margin-right: 15px;
}
.usermain .left .title .himg img{
	width: 75px;
	height: 75px;
}
.usermain .left .title .control{
	float: left;
}
.usermain .left .title .control p{
	font-size: 13px;
}
.usermain .left .title .control p #username{
	color: #727272;
	line-height: 40px;
}
.usermain .left .title .control p a{
	color: #5380DB;
}
.usermain .left .show{
	background: #FFFFFF;
	margin-top: 30px;
}
.usermain .left .show ul li{
	float: left;
	width: 103px;
}
.usermain .left .show ul li p{
	height: 38px;
	text-align: center;
	line-height: 38px;
}
.usermain .left .show ul li .tabbtn{
	height: 38px;
	border-right: 1px solid #ababab;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
}
.usermain .right{
	float: left;
	width: 591px;
	margin-left: 17px;
}
.usermain .right .title{
	border: 1px solid #CDCDCD;
	width: 589px;
}
.usermain .right .title ul li{
	float: left;
	font-size: 14.1px;
	color: #4e4e4e;
	width: 79px;
	height: 49px;
	text-align: center;
	line-height: 49px;
	cursor: pointer;
}
.usermain .right .content{
	width: 589px;
	border: 1px solid #CDCDCD;
	margin-top: 9px;
	padding: 0;
}
.usermain .right .content .scentry{
	height: 181px;
	background: #FFFFFF;
}
.usermain .right .content .scentry .left{
	float: left;
	position: relative;
	width: 239px;
	height: 181px;
}
.usermain .right .content .scentry .left a{
	display: inline-block;
	width: 239px;
	height: 181px;
}
.usermain .right .content .scentry .left img{
	width: 239px;
	height: 181px;
}
.usermain .right .content .scentry .left .mask{
	width: 100%;
	height: 28px;
	position: absolute;
	width: 100%;
	background: rgba(75,75,75,0.7);
	bottom: 0;
	color: #FFFFFF;
	line-height: 28px;
}
.usermain .right .content .scentry .left .mask .enteyname{
	float: left;
	margin-left: 5px;
}
.usermain .right .content .scentry .left .mask .enteysale{
	float: right;
	margin-right: 5px;
}
.usermain .right .content .scentry .right{
	float: left;
	width: 316px;
	height: 161px;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #595959;
	margin-left: 17px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.usermain .right .content .scentry .right .type,.usermain .right .content .scentry .right .hot{
	margin-bottom: 10px;
}
.usermain .right .content .scentry .right .price{
	text-align: right;
}
.usermain .right .content .scentry .right .price span{
	font-size: 11px;
}
.usermain .right .content .scentry .right .price span b{
	vertical-align: baseline;
}
.usermain .right .content .scentry .right .hot .l{
	float: left;
}
.usermain .right .content .scentry .right .hot .r{
	float: left;
}
.usermain .right .content .scentry .right .hot .status{
	float: left;
}
.usermain .right .content .intention{
	padding: 0 15px 30px;
}
.usermain .right .content .intention h2{
	font-size: 18px;
	font-family: "微软雅黑";
	color: #4E4E4E;
	line-height: 40px;
}
.usermain .right .content .intention ul li div{
	float: left;
	width: 225px;
	line-height: 28px;
	font-size: 14px;
}
.usermain .right .content .message{
	padding: 30px 15px;
}
.usermain .right .content .message ul li{
	height: 27px;
	padding-left: 30px;
	background-repeat: no-repeat;
	margin-bottom: 30px;
	border-bottom: 1px dashed #DDDDDD;
	padding-bottom: 10px;
}
.usermain .right .content .message ul li a{
	font-size: 14px;
	color: ;
}
.usermain .right .content .pswfix{
	padding: 25px;
}
.usermain .right .content .pswfix ul li{
	margin-bottom: 50px;
}
.usermain .right .content .pswfix ul li .line{
	width: 405px;
	height: 45px;
	border:1px solid #8a8a8a;
	padding-top: 9px;
	position: relative;
}
.usermain .right .content .pswfix ul li .line span{
	float: left;
	display: inline-block;
	height: 35px;
	width: 100px;
	border-right: 1px solid #8A8A8A;
	font-size: 20px;
	color: #6E6E6E;
	text-align: center;
	line-height: 35px;
}
.usermain .right .content .pswfix ul li .line input{
	float: left;
	height: 41px;
	width: 272px;
	border: none;
	outline: none;
	font-size: 16px;
	text-align: left;
	text-indent: 15px;
}
.usermain .right .content .pswfix ul li .line .board{
	position: absolute;
	top: 50px;
	height: 38px;
	padding-top: 9px;
	color: #FF6868;
}
.usermain .right .content .pswfix ul li .line .board img{
	vertical-align: bottom;
}
.usermain .right .content .pswfix ul .sub{
	text-align: right;
	padding-right: 100px;
}
.usermain .right .content .pswfix ul li .subbtn{
	width: 114px;
	height: 37px;
	background: #F58220;
	color: #FFFFFF;
	border-radius: 5px;
	border:none;
	cursor: pointer;
	outline: none;
}
.usermain .right .content .userinfofix{
	padding: 25px;
}
.usermain .right .content .userinfofix ul li{
	margin-bottom: 50px;
}
.usermain .right .content .userinfofix ul li .line{
	width: 405px;
	height: 45px;
	border:1px solid #8a8a8a;
	padding-top: 9px;
	position: relative;
}
.usermain .right .content .userinfofix ul li .line span{
	float: left;
	display: inline-block;
	height: 35px;
	width: 100px;
	border-right: 1px solid #8A8A8A;
	font-size: 20px;
	color: #6E6E6E;
	text-align: center;
	line-height: 35px;
}
.usermain .right .content .userinfofix ul li .line input{
	float: left;
	height: 41px;
	width: 272px;
	border: none;
	outline: none;
	font-size: 16px;
	text-align: center;
}
.usermain .right .content .userinfofix ul li .line .board{
	position: absolute;
	top: 50px;
	height: 38px;
	padding-top: 9px;
	color: #FF6868;
}
.usermain .right .content .userinfofix ul li .line .board img{
	vertical-align: bottom;
}
.usermain .right .content .userinfofix ul .sub{
	text-align: right;
	padding-right: 50px;
}
.usermain .right .content .userinfofix ul li .subbtn{
	width: 114px;
	height: 37px;
	background: #F58220;
	color: #FFFFFF;
	border-radius: 5px;
	border:none;
	cursor: pointer;
	outline: none;
}
.usermain .right .content .userinfos{
	padding: 35px;
	font-size: 16px;
	color: #5a5a5a;
	line-height: 31px;
}
.usermain .right .content .userinfos .fix{
	text-align: right;
	padding-right: 50px;
}
.usermain .right .content .userinfos .fixbtn{
	text-align: center;
	line-height: 37px;
	display: inline-block;
	width: 114px;
	height: 37px;
	background: #F58220;
	color: #FFFFFF;
	border-radius: 5px;
	border:none;
	cursor: pointer;
	outline: none;
}
.aboutmain{
	background: #FFFFFF;
}
.about_body{
	background: #76c9eb;
	overflow: hidden;
	position: relative;
}
.boo{
	width: 920px;
	position: absolute;
	top: 50px;
	z-index: 5;
	margin: 0 auto;
}
.about_content{
	width: 920px;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
}
.aboutus .title,.connect .title,.jobs .title{
	 height: 41px;
	 background: #fff600;
	 font-family: "微软雅黑";
	 font-size: 18px;
	 color: #525252;
	 text-indent: 23px;
	 line-height: 41px;
	 width: 100%;
}
.aboutus .bg{
	height: 180px;
	background: #FFF600;
	margin-top: 1px;
}
.aboutus .txt{
	margin-top: -150px;
	margin-bottom: 430px;
}
.aboutus .txt .left{
	float: left;
	margin-left: 50px;
}
.aboutus .txt .right{
	float: left;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #FFFFFF;
	line-height: 32px;
	margin-left: 35px;
	margin-top: 150px;
}
.connect .title{
	margin-bottom: 1px;
}
.connect #allmap{
	margin-top: 0px;
	width: 100%;
	height: 542px;
}
.connect .address{
	margin-top: 15px;
	margin-bottom: 430px;
}
.connect .address p,.jobs p{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 500;
	text-indent: 30px;
	line-height: 30px;
}
.jobs{
	position: relative;
	z-index: 100;
}
.jobs .title{
	margin-bottom: 20px;
}
.jobs ul li{
	float: left;
	width: 270px;
	height: 270px;
	padding: 0 13px;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #2a2a2a;
	line-height: 28px;
	background: #FFFFFF;
	margin-right: 16px;
}
.jobs ul li h2{
	margin-top: 12px;
	cursor: pointer;
}
.jobs ul li h3{
	text-align: center;
	cursor: pointer;
}
.jobs p{
	margin-top: 32px;
	margin-bottom: 430px;
}
.jobs .board{
	width: 450px;
	height: 448px;
	border:1px solid #7F7F7F;
	background: #FFFFFF;
	position: absolute;
	padding: 50px;
	top: 80px;
	left: 185px;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 25px;
	color: #6E6E6E;
	display: none;
}
.jobs .board .close{
	position: absolute;
	right: 17px;
	top: 17px;
	cursor: pointer;
}
.jobs .checks{
	display: block;
}
.boo .menu{
	width: 100px;
	position: absolute;
	top: 120px;
	left: -120px;
}
.boo .menu ul li{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFFFFF;
	margin-bottom: 20px;
	cursor: pointer;
}
.boo .menu ul li .circle{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #FFFFFF;
	vertical-align: baseline;
	margin-right: 15px;
}
