.main{
	width: 100%;
}
.title{
	background: #FFF;
	width: 960px;
	margin: 0 auto;
}
.logo{
	float: left;
	margin-left: 40px;
}
.logo img{
	line-height: 75px;
	margin-top: 13.5px;
}
.nav{
	float: right;
}
.nav .navs{
	float: left;
}
.nav .login{
	float: left;
}
.nav .navs li{
	float: left;
}
.nav .navs li a{
	font-size: 24px;
	line-height: 75px;
	font-family: "微软雅黑";
	text-align: center;
	padding: 0 15px;
	color: #f58220;
}
.nav .login{
	border-left: 1px solid #f58220;
	margin-top: 27px;
	margin-left: 50px;
	margin-right: 70px;
}
.nav .login a{
	line-height: 21px;
	font-size: 21px;
	color: #f58220;
	padding: 0 10px;
}
.slider{
	position: relative;
	width: 100%;
}
.search{
	position: absolute;
	top: 422px;
	width: 100%;
	text-align: center;
}
.search .txt{
	width: 357px;
	border: none;
	outline: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #FFFFFF;
	font-size: 17px;
	font-family: "微软雅黑";
	line-height: 29px;
	text-indent: 10px;
	height: 29px;
	vertical-align: top;
}
.search .btn{
	width: 61px;
	height: 29px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #f58220;
	color: #FFFFFF;
	font-size: 17px;
	font-family: "微软雅黑";
	line-height: 29px;
	text-align: center;
	border: none;
	outline: none;
	letter-spacing: 3px;
	cursor: pointer;
	vertical-align: top;
}
.search .searimg{
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
}
.slider .title{
	position: absolute;
	width: 100%;
	text-align: right;
	top: 86px;
	background: transparent;
	display: none;
}
.slider .title img{
	vertical-align: middle;
}
.slider .title .txt{
	font-size: 24px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	vertical-align: middle;
	margin: 0 90px 0 15px;
}
/****slider*******/
#focus{width:100%;height:500px;overflow:hidden;position:relative;}
#focus ul{height:500px;position:absolute;}
#focus ul li{float:left;width:100%;height:500px;overflow:hidden;position:relative;background:#000;}
#focus ul li div{position:absolute;overflow:hidden;}
#focus .btn{position:absolute;width:100%;height:10px;padding:5px 10px;bottom:100px;text-align:center;}
#focus .btn span{display:inline-block;_display:inline;_zoom:1;width:15px;height:15px;_font-size:0;margin-left:10px;cursor:pointer;background:#fff;border-radius: 50%;}
#focus .btn span.on{background:#fff;}
#focus .preNext{width:77px;height:77px;position:absolute;top:190px;cursor:pointer;}
#focus .pre{left:120px;background: url(../images/arrow_l.png) no-repeat;}
#focus .next{right:120px;background: url(../images/arrow_r.png) no-repeat;}
/*****************/
.content{
	width: 100%;
	margin: 0 auto;
	background: #FFFFFF;
	margin-top: 72px;
	padding-bottom: 165px;
}
.content .service{
	width: 960px;
	margin: 0 auto;
}
.content .service .head{
	text-align: center;
}
.content .service .cont{
	margin-top: 80px;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #F58220;
	line-height: 30px;
}
.content .service .cont li{
	float: left;
	width: 320px;
	margin-bottom: 20px;
}
.content .service .cont li h2{
	text-align: center;
}
.content .service .cont li h3{
	text-align: center;
	margin-top: 30px;
}
.content .service .cont li h4{
	padding-left: 47.5px;
	padding-right: 47.5px;
}
.content .sale{
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
}
.content .sale .head{
	margin-top: 50px;
}
.content .sale .cont{
	margin-top: 30px;
	font-size: 21px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	line-height: 33px;
}
.content .sale .cont .row .img{
	float: left;
	height: 222px;
	margin-bottom: 5px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.content .sale .cont .row .img img{
	width: 304px;
	height: 191px;
	transition: 1.5s;
	-webkit-transition: 1.5s;
	-o-transition: 1.5s;
	-moz-transition: 1.5s;
	-ms-transition: 1.5s;
	transition-property: transform:scale;
	-webkit-transition-property: transform:scale;
	-moz-transition-property: transform:scale;
	-ms-transition-property: transform:scale;
	-o-transition-property: transform:scale;
}
.content .sale .cont .row .img img:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.content .sale .cont .row .img .limg{
	width: 612px;
	height: 191px;
}
.content .sale .cont .row .img .info{
	position: absolute;
	width: 100%;
	background: rgba(75,75,75,0.5);
	bottom: 0;
}
.content .sale .cont .row .img .info .name{
	float: left;
	margin-left: 10px;
}
.content .sale .cont .row .img .info .price{
	float: right;
	margin-right: 10px;
}
.content .more{
	text-align: center;
	margin-top: 48px;
}
.content .more a{
	display: inline-block;
	width: 167px;
	height: 51px;
	line-height: 51px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 24px;
	background: #f39636;
	border-radius: 10px;
}
.content .mimg{
	width: 100%;
	margin-top: 70px;
	position: relative;
}
.content .mimg #mask{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.footer{
	height: 140px;
	background: #5C5C5C;
	overflow: hidden;
}
.footer .lin{
	width: 352px;
	margin: 0 auto;
	margin-top: 35px;
}
.footer .lin li{
	padding: 0 10px;
	border-right: 2px solid #a8a8a8;
	float: left;
}
.footer .lin li a{
	color: #A8A8A8;
	font-size: 24px;
	font-family: "微软雅黑";
	line-height: 19px;
}
.footer .copy{
	font-size: 18px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	text-align: center;
	margin-top: 40px;
}
